html {
    min-height: 100%;
    position: relative;
}
body{
    background-color: rgb(238, 238, 238);
    margin: 0;
    margin-bottom: 40px;
}

.dropdown-toggle::after {
    display:none;
}

.submenu{
    background-color: #fff;
}

.categoria-menu{
    border-left: 2px solid rgb(192, 192, 192);
}

.categoria-menu span{
    font-size: 20px;
}

.nav-link{
    font-weight: bold;
    margin-top: -10px;
}

.estadisticas-hoy{
    border-right: 2px solid rgb(192, 192, 192);
}

footer{
    background-color: #00ba8b;
    position: absolute;
    padding-top: 3%;
    bottom: 0;
    width: 100%;
    height: 110px;
    color: #fff;
    border-radius: 15% 15% 0 0 / 50%;
}



.atajo{
    height: 75px;
    border-radius: 5%;
    color: #010101;
    background-color: rgb(247, 244, 244);
}

.atajo:hover{
    background-color: #00ba8b;
    color: #fff;
}

.atajo span{
    font-size: 24px;
}

#dform{
    display: none;
}

.titulocof{
    font-weight: bold;
}

.subtitulo{
    font-size: 15px;
    color: #888888;
}


@media screen and (max-width: 1200px) {
    .categoria-menu{
        border-left: none;
    }

    footer{
        padding-right: 15px;
        padding-left: 15px;
        border-radius: 0;
        height: 50px;


    }

    .copyright p{
        font-size: 12px;
    }

    .empresa p{
        font-size: 12px;
    }
}

@media screen and (max-width: 600px) {
    .titulocof{
        font-size: 17px;
    }
    
    .subtitulo{
        font-size: 12px;
        color: #888888;
    }
}